html,body{
	margin:0;
	padding: 0;
	height:2000px;
	font-family: 'Signika', sans-serif;
}

nav{
	float: left;
	z-index: 1000;
	width: 100%;
}
.home{
	background: #2d343e url('../images/bg-Home.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-bottom: 20px;
	width: 100%;
	
}
.navbar-style{
	background: rgba(45,52,62,0.8);
	padding: 20px 0;
	margin-bottom: 80px; 
}
a.logo{
	background: #ee4c62;
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	color: #fff;
	line-height: 80px;
	text-align: center;
	font-size: 23px;
	font-style: regular;
	text-decoration: none;
	float: left;
	margin-right: 19px;
}
.collapse{
	float: left;

}

.nav li{
	float: left;
	height:80px;
}
.nav li a{
	line-height: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	padding: 30px 21px;
	transition: all 0.35s;
}
.nav li a:hover{
	background: transparent;
	color: #ee4c62;
	transition: all 0.35s;
}
.navbar-toggle{
	background: #556274;
}
.navbar-toggle .icon-bar{
	background: #fff;
}

@media (max-width:767px){
	.logo{
		margin-left: 15px;
		margin-bottom: 5px;
	}
	.collapse{
		width: 100%;
		padding:0;

	}
	.nav li{
		float: none;
		height:initial;
		display: block;
		
	}
	
	.nav li a{
		padding: 10px 15px;
	}
}

.header-links{
	float: right;
	margin: 21px 0;
}
.header-links a{
	background: #556274;
	color: #ee4c62;
	font-size: 16px;
	line-height: 38px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	width: 38px;
	height: 38px;
	margin:0 4px;
	transition: all 0.5s;
}

.header-links a:hover{
	background: #ee4c62;
	color: #fff;
	transform: rotateY(360deg);
	transition: all 0.5s;
}
@media (max-width: 1200px){
	.header-links{
		display: none;
	}

}
@media (max-width: 991px){
	.navbar-collapse{
		padding: 0;
	}
	.nav li a{
		padding: 30px 15px;
	}
}
.titles{
	margin-bottom: 40px;
	overflow: auto;
}
.tiles{
	width: 1140px;
	height: 480px;
}
.tiles:after{
	clear: both;
}
.column{
	float: left;
	display: inline-block;
	width: 376px;
	margin-right: 6px;
}
.column:last-child{
	margin-right: 0;
}
.tile{
	margin-bottom: 6px;
	position: relative;
	
}
.column .tile:last-child{
	margin-bottom: 0;
}
.caption{
	background: rgba(238,76,98,0.8);
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	color: #fff;
	font-weight: 300;
	padding: 19px 40px;
}
.tile:hover .caption{
	display: inline-block;
}
.caption-header{
	margin-bottom: 15px;
	font-weight: 300;
	font-size: 28px;

}
.caption-text{
	font-size: 14px;

}
.link-icon{
	float: right;
	position: absolute;
	right:14px;
	bottom: 19px;
}
.link-icon a{
	width: 40px;
	height:40px;
	display: inline-block;
	margin-right: 5px;
	color: #ee4c62;
	background: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	font-size: 18px;
}
a.caption:hover{
	color: white;
	text-decoration: none;
}
.simple-icon{
	position: absolute;
	top: 47px;
	left: 41px;
	background: #fff;
	display: inline-block;
	width: 60px;
	height:60px;
	text-align: center;
	line-height: 55px;
	border-radius: 50%;
}
.caption-container{
	position: absolute;
	top:28px;
	left: 120px;
}
.caption-date{
	margin-top: -6px;
}
.services{
	background: #2d343e;
	padding:120px 0;
}
.more-info{
	color: #fff;
	text-align: center;
}
.more-info p{
	font-size: 36px;
	font-weight: 400;
	display: inline-block;
}
.more-info a{
	padding: 13px 15px;
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	font-weight: 300;
	background: #ee4c62;
	margin-left: 117px;
	display: inline-block;
	transition: all 0.35s;
}

.more-info a:hover{
	color: #ee4c62;
	background: #fff;
	transition: all 0.35s;
}

@media (max-width: 1200px){
	.more-info p{
		display: block;
	}
	.more-info a{
		margin-left: 0;
	}
}
.main-header{
	margin-top: 119px;
	margin-bottom: 38px;
	font-weight: 300;
	font-size: 55px;
	color: #fff;
	text-transform: uppercase;
	border-left:2px solid #ee4c62;
	line-height: 40px;
	padding-left: 9px;
}
.main-header span{
	color: #ee4c62;
	margin-right: 9px;
	font-weight: 300;
	font-size:50px;
}
.boxes{
	margin: 0 auto;
	text-align: center;
}
.boxes:after{
	clear: both;
}
.service-container{
	float: left;
	margin: 41px 43px 9px 0;
}
.service-container:last-child{
	margin-right: 0;
}
@media (max-width: 991px){
	.service-container{
		float: none;
		text-align: center;
		margin-right: 0;
	}
}
.service-box{
	display: inline-block;
	width: 351px;
	height: 351px;
	background: #ee4c62;
	color: #fff;
	font-weight: 300;
	border-radius: 50%;
	text-align: center;
}

.white{
	background: #fff;
	color: #ee4c62;
}
.service-box img{
	margin-top: 59px;
	margin-bottom: 22px;
}
.service-box h1{
	font-weight: 300;
	font-size: 36px;
	margin-top: 0;
	margin-bottom: 10px;
}
.service-box p{
	display: inline-block;
	width: 242px;
	font-size: 14px;
	margin: 0;
}

@media (max-width: 367px){
	.service-box{
		width: 100%;
		height: auto;
		border-radius: 0;
		padding: 20px;
	}
	.service-box img{
		margin-top: 0;
	}
	.service-box p{
		width: 100%;
	}
}

.highlight{
	background: url('../images/box-2-screen.jpg') no-repeat center center fixed;
	background-size: cover;
	padding: 120px 0;
	text-align: center;
	color: #fff;
}
.highlight-one{
	background: #ee4c62;
	font-weight: 400;
	font-size: 60px;
	margin: 0;
	display: inline-block;
}
.highlight-two{
	background: #ee4c62;
	font-weight: 300;
	font-size: 24px;
	margin: 0;
	display: inline-block;
}

.blog{
	padding: 60px 0;
	//text-align: center;
	position: relative;
}
.blog-content{
	display: inline-block;
	float: left;
	width: 845px;
}
.blog-title a{
	color: #ee4c62;
	font-weight: 300;
	font-size: 36px;
	text-decoration: none;
}
.blog-image{
	margin: 20px 0 40px;
	width: 100%;
	height: 100%;
}
.abstract{
	font-weight: 400;
	font-size: 16px;
	color: #2d343e;
}
.blog-readmore{
	font-weight: 400;
	font-size: 18px;
	color: #2d343e;
	text-decoration: none;
}
.blog-date{
	float:left;
	display: inline-block;
	width: 295px;
	margin-top:20px; 
}
.blog-icon{
	width: 80px;
	height: 80px;
	background: #ee4c62;
	color: #fff;
	border-radius: 50%;
	line-height: 80px;
	text-align: center;
	font-size: 36px;
	margin-bottom: 40px; 
}
.blog-detail, .datail-inline{
	border-left: 2px solid #ee4c62;
	color: #c2c3c5;
	font-size: 18px;
	font-weight: 300;
	padding-left: 15px; 
	margin-bottom: 25px;
}
.date{
	margin-bottom: 10px;
}
.blog-likes{
	margin-left: 13px;
	font-size: 18px;
	font-weight: 300;
	color: #ee4c62;
	display: inline;
}
.blog-likes span{
	color: #c2c3c5;
	margin-left: 11px;
}
.datail-inline{
	display: none;
}
.datail-inline div{
	display: inline;
}
.datail-inline .comment{
	margin-left: 15px;
}

@media (max-width: 1199px){
	.blog-date{
		display: none;
	}
	.datail-inline{
		display: block;
	}
	.blog-content{
		display: block;
	}
}
@media (max-width: 991px){
	.blog-content{
		width: 100%;
	}
	.blog-image{

	}
}
@media (max-width: 324px){
	.datail-inline div{
		display: block;
		width: 100%;
	}
	.date, .datail-inline .comment, .blog-likes{
		margin: 0;
	}
}
.quote{
	background: #2d343e url('../images/bg-quote.jpg')  no-repeat center center;
	background-size: cover;
	padding: 61px 0;
}
.quote-header{
	color: #fff;
	text-align: center;
	font-weight: 400;
	font-size: 48px;
	margin-bottom: 21px;
}
.quotation{
	float: left;
	display: inline-block;
	width: 50%;
}
.quote-avatar{
	display: inline-block;
	float: left;
	width: 120px;
	height: 120px;
}
.quote-avatar img{
	border-radius: 50%;
	border:8px solid #fff;
	transition: all 0.35s;
}
.quote-avatar:hover img{
	border-color: #ee4c62;
	transition: all 0.35s;
}
.quote-content{
	display: inline-block;
	width: 314px;
	margin-left: 23px;
	color: #fff;
}
.quote-name{
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 300;
	font-size: 28px;
}
.quote-text{
	font-weight: 300;
	font-size: 14px;
}
@media (max-width: 991px){
	.quotation{
		float: none;
		display: block;
		width: 100%;
		margin-left: 15px;
	}
	.quotation:first-child{
		margin-bottom: 20px;
	}
}
@media (max-width: 781px){
	.quotation{
		margin-left: 0;
		text-align: center;
	}
	.quote-avatar{
		float: none;
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
	.quote-content{
		display: block;
		width: 100%;
		margin-left: 0;
	}
}