html,body{
	margin:0;
	padding: 0;
	height:2000px;
	font-family: 'Signika', sans-serif;
}

nav{
	float: left;
	z-index: 1000;
	width: 100%;
}
.home{
	background: #2d343e url('../images/bg-Home.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-bottom: 20px;
	width: 100%;
	
}
.navbar-style{
	background: rgba(45,52,62,0.8);
	padding: 20px 0;
	margin-bottom: 80px; 
}
a.logo{
	background: #ee4c62;
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	color: #fff;
	line-height: 80px;
	text-align: center;
	font-size: 23px;
	font-style: regular;
	text-decoration: none;
	float: left;
	margin-right: 19px;
}
.collapse{
	float: left;

}

.nav li{
	float: left;
	height:80px;
}
.nav li a{
	line-height: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	padding: 30px 21px;
	transition: all 0.35s;
}
.nav li a:hover{
	background: transparent;
	color: #ee4c62;
	transition: all 0.35s;
}
.navbar-toggle{
	background: #556274;
}
.navbar-toggle .icon-bar{
	background: #fff;
}

@media (max-width:767px){
	.logo{
		margin-left: 15px;
		margin-bottom: 5px;
	}
	.collapse{
		width: 100%;
		padding:0;

	}
	.nav li{
		float: none;
		height:initial;
		display: block;
		
	}
	
	.nav li a{
		padding: 10px 15px;
	}
}

.header-links{
	float: right;
	margin: 21px 0;
}
.header-links a{
	background: #556274;
	color: #ee4c62;
	font-size: 16px;
	line-height: 38px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	width: 38px;
	height: 38px;
	margin:0 4px;
	transition: all 0.5s;
}

.header-links a:hover{
	background: #ee4c62;
	color: #fff;
	transform: rotateY(360deg);
	transition: all 0.5s;
}
@media (max-width: 1200px){
	.header-links{
		display: none;
	}

}
@media (max-width: 991px){
	.navbar-collapse{
		padding: 0;
	}
	.nav li a{
		padding: 30px 15px;
	}
}
.titles{
	margin-bottom: 40px;
	overflow: auto;
}
.tiles{
	width: 1140px;
	height: 480px;
}
.tiles:after{
	clear: both;
}
.column{
	float: left;
	display: inline-block;
	width: 376px;
	margin-right: 6px;
}
.column:last-child{
	margin-right: 0;
}
.tile{
	margin-bottom: 6px;
	position: relative;
	
}
.column .tile:last-child{
	margin-bottom: 0;
}
.caption{
	background: rgba(238,76,98,0.8);
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	color: #fff;
	font-weight: 300;
	padding: 19px 40px;
}
.tile:hover .caption{
	display: inline-block;
}
.caption-header{
	margin-bottom: 15px;
	font-weight: 300;
	font-size: 28px;

}
.caption-text{
	font-size: 14px;

}
.link-icon{
	float: right;
	position: absolute;
	right:14px;
	bottom: 19px;
}
.link-icon a{
	width: 40px;
	height:40px;
	display: inline-block;
	margin-right: 5px;
	color: #ee4c62;
	background: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	font-size: 18px;
}
a.caption:hover{
	color: white;
	text-decoration: none;
}
.simple-icon{
	position: absolute;
	top: 47px;
	left: 41px;
	background: #fff;
	display: inline-block;
	width: 60px;
	height:60px;
	text-align: center;
	line-height: 55px;
	border-radius: 50%;
}
.caption-container{
	position: absolute;
	top:28px;
	left: 120px;
}
.caption-date{
	margin-top: -6px;
}